<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card text-center p-3">
        <div>
          <% if current_user.image? %>
            <%= image_tag current_user.image.thumb100.url %>
          <% end %>
        </div>
        <%= link_to user_path(current_user.id), class: "edit-link" do %>
          <p class="user-name mt-2"><%= current_user.name %></p>
        <% end %>
      </div>
    </div>
    <div class="col-9">
      <h3 class="mb-3 nayami-h1">悩みを投稿する</h3>
      <%= form_with model: @problem, local: true do |f| %>
        <div class="card">
          <div class="card-body">
              <%= render 'shared/error_messages', model: @problem %>
              <h5>タイトル</h5>
              <p>わかりやすく、具体的に書きましょう。</p>
              <div class="mb-5">
                <%= f.text_field :title, {class:"form-control"} %>
              </div>
              <h5>解決してほしい悩み</h5>
              <p>解決してほしいことを具体的に書きましょう。</p>
              <div class="mb-3">
                <%= f.text_area :text, {class:"form-control", rows: "10"} %>
              </div>
          </div>
        </div>
        <div class="my-5 text-center">
          <%= f.submit "更新する", {class: "btn"} %>
        </div>
      <% end %>
      <div class="">
        <%= link_to problem_path(@problem.id), class: "btn-small", method: :delete do %>
          悩みを削除する
        <% end %>
      </div>
    </div>
  </div>
</div>