<div>
  <h3>検索結果</h3>
</div>
<p><%= @results.length %>個の悩みが見つかりました。</p>
<% if @results.length != 0 %>
  <% @results.each do |problem| %>
    <% if problem %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="mb-3">
            <div>
              <%= link_to user_path(problem.user.id), class: "edit-link" do %>
                <div class="d-inline">
                  <% if problem.user.image? %>
                    <%= image_tag problem.user.image.url, class: "profile-img size50" %>
                  <% else %>
                    <%= image_tag 'default.png', class: "profile-img size50" %>
                  <% end %>
                </div>
                <div class="d-inline user-name">
                  <%= problem.user.name %>
                </div>
              <% end %>
            </div>
          </div>

          <p><%= problem.created_at %></p>
          <h5><%= problem.title %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>