<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title"><%= @problem.title %></h5>
      <%= link_to user_path(@problem.user.id) do %>
        <h6 class="card-subtitle mb-2 text-muted"><%= @problem.user.name %></h6>
      <% end %>
      <p class="card-text"><%= @problem.text %></p>
      <% if user_signed_in? && current_user.id == @problem.user_id %>
        <%= link_to "編集", edit_problem_path(@problem.id), class: "card-link", method: :get %>
        <%= link_to "削除", problem_path(@problem.id), class: "card-link", method: :delete %>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">回答</h5>
        <%= form_with(model: [@problem, @answer], local: true) do |f| %>
          <div class="mb-3">
            <label class="form-label">回答を入力して下さい</label>
            <%= f.text_area :text, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.submit "投稿" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @answers.present? %>
    <div class="card my-5">
      <div class="card-body">
        <% @answers.each do |answer| %>
          <%= link_to user_path(answer.user.id) do %>
            <h5 class="card-title"><%= answer.user.name %></h5>
          <% end %>
          <p class="card-text"><%= answer.text %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>