<h1><%= @problem.title %></h1>
<h2>投稿者:<%= link_to "#{@problem.user.name}", user_path(@problem.user.id) %></h2>
<% if user_signed_in? && current_user.id == @problem.user_id %>
  <ul>
    <li><%= link_to "編集", edit_problem_path(@problem.id), method: :get %></li>
    <li><%= link_to "削除", problem_path(@problem.id), method: :delete %></li>
  </ul>
<% end %>
<p><%= @problem.text %></p>

<% if user_signed_in? %>
  <%= form_with(model: [@problem, @answer], local: true) do |f| %>
    <%= f.text_area :text, placeholder: "解決策" %>
    <%= f.submit "投稿" %>
  <% end %>
<% end %>

<% if @answers %>
  <% @answers.each do |answer| %>
    <h3>投稿者:<%= link_to "#{answer.user.name}", user_path(answer.user.id) %></h3>
    <p><%= answer.text %></p>
  <% end %>
<% end %>