<h3>プロフィール編集</h3>
<%= form_with model: @user do |f| %>
  <div class="card">
    <div class="card-body">
        <div class="mb-3">
          <label class="form-label">名前</label>
          <%= f.text_field :name, {class:"form-control"} %>
        </div>
        <div class="mb-3">
          <label class="form-label">email</label>
          <%= f.text_field :email, {class:"form-control"} %>
        </div>
        <div class="mb-3">
          <label class="form-label">自己紹介</label>
          <%= f.text_area :introduction, {class:"form-control", rows: "3"} %>
        </div>
        <div class="mb-2">
          <p class="mb-0">業種</p>
          <%= f.collection_select(:industry_id, Industry.all, :id, :name, {class:"form-select", include_blank: '選択してください'}) %>
        </div>
        <div class="mb-2">
          <p class="mb-0">職種</p>
          <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {class:"form-select", include_blank: '選択してください'}) %>
        </div>
        <div class="mb-2">
          <p class="mb-0">役職</p>
          <%= f.collection_select(:position_id, Position.all, :id, :name, {class:"form-select", include_blank: '選択してください'}) %>
        </div>
        <div class="mb-2">
          <p class="mb-0">画像</p>
          <%= f.file_field :image %>
        </div>
    </div>
  </div>
  <div class="my-2 text-center">
    <%= f.submit "保存", {class: "btn"} %>
  </div>
<% end %>