<h1>プロフィール編集</h1>
<%= form_with model: @profile, local: true do |f| %>
  <%= f.text_field :project, placeholder:"事業内容" %>
  <%= f.text_field :occupation, placeholder:"職業" %>
  <%= f.text_field :position, placeholder:"役職" %>
  <%= f.text_area :introduction, placeholder:"役職" %>
  <%= f.submit "保存"%>
<% end %>