<h3>ユーザー検索結果</h3>
<p><%= @search_user_results.length %>人のユーザーが見つかりました。</p>
<% if @search_user_results.length !=0 %>
  <% @search_user_results.each do |user| %>
    <% if user %>
      <%= link_to user_path(user.id), class: "edit-link" do %>
        <div class="card mb-3">
          <div class="card-body d-flex">
            <div class="mr-4">
              <% if user.image? %>
                <%= image_tag user.image.url, class: "profile-img size85" %>
              <% else %>
                <%= image_tag 'default.png', class: "profile-img size85" %>
              <% end %>
            </div>
            <div class="">
              <div class="user-name">
                <%= user.name %>
              </div>
              <div class="">
                <% if user.industry %>
                  業種: <span class="bold"><%= user.industry.name %></span>
                <% else %>
                  業種: 未登録
                <% end %>
              </div>
              <div class="">
                <% if user.occupation %>
                  職種: <span class="bold"><%= user.occupation.name %></span>
                <% else %>
                  職種: 未登録
                <% end %>
              </div>
              <div class="">
                <% if user.position %>
                  役職: <span class="bold"><%= user.position.name %></span>
                <% else %>
                  役職: 未登録
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>