<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<h1><%= @user.name %></h1>

<% if user_signed_in? && @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>

<% if current_user != @user %>
  <% if @user.followed_by?(current_user) %>
    <p><%= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
  <% else %>
    <p><%= link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
  <% end %>
<% end %>

<p><%= link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%= link_to "フォロワー", followers_user_path(@user.id) %></p>
<h2>参加しているルーム</h2>
<% @rooms.each do |room| %>
  <%= link_to "#{room.name}", room_path(room.id) %>
<% end %>