<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="mb-2">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: "profile-img size100" %>
        <% else %>
          <%= image_tag 'default.png', class: "profile-img size100" %>
        <% end %>
      </div>
      <div class="">
        <% if user_signed_in? %>
          <% if @user == current_user %>
            <%= link_to "プロフィール編集", edit_user_path(current_user), {class: "btn"} %>
          <% else %>
            <% if @user.followed_by?(current_user) %>
              <%= link_to "フォロー中", user_relationships_path(@user.id), class: "btn follow" , method: :delete %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), class: "btn" , method: :post %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-name mb-1"><%= @user.name %></div>
    <p class="">
      <% if @user.introduction != "" %>
        <%= @user.introduction %>
      <% else %>
        
      <% end %>
    </p>
    <div class="d-flex mb-3">
      <div class="mr-3">
        <%= link_to follows_user_path(@user.id), class: "edit-link" do %>
          <span class="bold mr-1"><%= @user.followings.length %></span>フォロー
        <% end %>
      </div>
      <div>
        <%= link_to followers_user_path(@user.id), class: "edit-link" do %>
          <span class="bold mr-1"><%= @user.followers.length %></span>フォロワー
        <% end %>
      </div>
    </div>
    <div class="">
      <div class="">
        <% if @user.industry %>
          業種: <span class="bold"><%= @user.industry.name %></span>
        <% else %>
          業種: 未登録
        <% end %>
      </div>
      <div class="">
        <% if @user.occupation %>
          職種: <span class="bold"><%= @user.occupation.name %></span>
        <% else %>
          職種: 未登録
        <% end %>
      </div>
      <div class="">
        <% if @user.position %>
          役職: <span class="bold"><%= @user.position.name %></span>
        <% else %>
          役職: 未登録
        <% end %>
      </div>
    </div>
  </div>
</div>