<div class="container">
  <div class="card mx-auto mt-5" style="width: 18rem;">
    <div class="card-body">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= render "devise/shared/error_messages", resource: @user %>
        <div class="mb-3">
          <%= f.label :email, {class: "form-label"} %>
          <%= f.email_field :email, {autofocus: true, class: "form-control"} %>
        </div>
        <div class="mb-3">
          <%= f.label :password, {class: "form-label"} %>
          <%= f.password_field :password, {autocomplete: "off", class: "form-control"} %>
        </div>
        <div class="mb-3">
          <%= f.submit "ログイン", {class: "btn btn-primary"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>