<ul>
  <li class="mb-1">
    <%= link_to root_path, class: "edit-link" do %>
      <i class="fas fa-home mr-1"></i>HOME
    <% end %>
  </li>
  <li class="mb-1">
    <%= link_to new_problem_path, class: "edit-link" do %>
      <i class="fas fa-pen mr-1"></i>お悩み投稿
    <% end %>
  </li>
  <li class="mb-1">
    <%= link_to new_room_path, class: "edit-link" do %>
      <i class="fas fa-plus-square mr-1"></i>チャットルーム作成
    <% end %>
  </li>
  <li class="mb-1">
    <%= link_to rooms_path, class: "edit-link" do %>
      <i class="fas fa-comments mr-1"></i>チャットルーム一覧
    <% end %>
  </li>
  <li class="mb-1">
    <%= link_to search_user_users_path, class: "edit-link" do %>
      <i class="fas fa-search mr-1"></i>ユーザー検索
    <% end %>
  </li>
  
  <% if user_signed_in? %>
    <li class="mb-1">
      <%= link_to user_path(current_user.id), class: "edit-link" do %>
        <i class="fas fa-user mr-1"></i>マイページ
      <% end %>
    </li>
    <li class="mb-1">
      <%= link_to destroy_user_session_path, method: :delete, class: "edit-link" do %>
        <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
      <% end %>
    </li>
  <% else %>
    <li class="mb-1">
      <%= link_to new_user_registration_path, class: "edit-link" do %>
        <i class="far fa-user mr-1"></i>新規登録
      <% end %>
    </li>
    <li class="mb-1">
      <%= link_to new_user_session_path, class: "edit-link" do %>
        <i class="fas fa-sign-in-alt mr-1"></i>ログイン
      <% end %>
    </li>
  <% end %>
</ul>