<!DOCTYPE html>
<html>
  <head>
    <title>Nayami</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "ホーム", root_path %>
    <% if user_signed_in? %>
      <%= link_to "#{current_user.name}", user_path(current_user.id) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "新規投稿", new_problem_path %>
      <%= link_to "チャットルーム一覧", rooms_path %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
